@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.home{
  display: flex;
  align-items: center;
  height: 1000%;
  justify-content: center;
  font-size: 3rem;
  background-color: #323a45;
  background-size: cover;
  color: #fff;
}

.Home{
  padding: 2%;
  height: 95vh;
}

.meteors{
  display: flex;
  margin-top: -5%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #323a45;
  color: #fff;
}

.rover {
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #323a45;
  color: #fff;
}

.RoverCarousel{
  width: 100%;
  max-width:750px;
  max-height: 18%;
}

.about {
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #323a45;
  color: #fff;
}

.events {
    display: flex;
    height: 94vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #323a45;
    color: #fff;
  }

.page-icon {
  margin-left: 1rem;
  font-size: 100px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .home {
    padding-top: 10%;
    float:none
  }

  .about,
  .meteors,
  .rover {
    font-size: 2.5rem;
  }

  .page-icon {
    margin-left: 1rem;
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {

  .RoverCarousel{
    width: 80%;
    max-width: 500px;
    height: auto;
    align-content: center;
    justify-content: center;
    margin-left: 10%;
  }
}